[Desktop Entry]
Type=Application
Name=App Registrar
Comment=Register any executable as a desktop application
Icon=${SNAP}/meta/gui/icon.svg
Exec=app-registrar
Categories=Utility;
Keywords=app;registrar;register;desktop;launcher;executable;
Terminal=false
StartupNotify=true
